<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="#">Insyte</a>
  </div>
</nav>

<div align="right">
  <a>Pinterest</a>
  <a class="btn btn-primary" href="#">Refresh</a>
</div>


  <div class="panel-heading">
      <h3 class="panel-title">Filter</h3>
      <div class="pull-right">
          <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
      </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">SKU</th>
        <th scope="col">Item Name </th>
        <th scope="col">Image</th>
        <th scope="col">Revenue</th>
        <th scope="col">Stock Turnover Ratio</th>
        <th scope="col">Social Media Ranking</th>
        <th scope="col">Inventory</th>
        <th scope="col">Cost of Holding</th>
        <th scope="col">Unit Sold</th>
        <th scope="col">Profit</th>
        <th scope="col">Recommended Action</th>
        <th>Quantity</th>
        <th>Confirm</th>
        <th scope="col">Buy</th>
      </tr>
    </thead>
    <tbody>


      <tr>

      {{#items}}

      <td>{{id}}</td>
      <td></td>
      <td><img src="{{url}}"></img></p></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><input type="quantity" class="form-control" id="quantity" placeholder="" name="quantity"></td>
      <td><input type="checkbox" class="checkthis" /></td>
      <td><a class="btn btn-primary" href="#">Buy</a></td>
      </tr>
      {{/items}}
    </tbody>
  </table>

  <div class="col-12 col-md-3">
    <button type="submit" class="btn btn-block btn-lg btn-primary">Buy Product</button>
  </div>
